*{ 
    margin: 0;
    padding: 0;
}
body { display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{text-decoration: none;
    color: black; }
h1{ display: flex;
text-align: center; 
}
header{
    background-color: #D98FB1;
    font-family: Roboto-Italic;
}
@font-face {
    font-family: Roboto-Italic; 
    src: url(../assets/font/Roboto-Italic.ttf);
}
nav ul li a:hover{
    color: white;
}
.social{
    display: flex;
    justify-content:space-around;
    flex-direction: row; }
footer { background-color:#e1bee7;
    margin-top: auto; 
    font-family: Roboto-Italic; 
}
section {
    font-family: Roboto-Italic; 
}

.navbar-light .navbar-toggler {background-color: #e1bee7};
.navbar-expand-lg {background-color: #e1bee7;}
.btn-primary {
    background-color: #D98FB1;
    border-color:black}
.jumbotron {
    background-color:#fac1dc  ;
}
ul{list-style:none;
    display: flex;
    padding-left: 30px;

}