
*::after
*::before
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Roboto-Italic; 
    src: url(../assets/font/Roboto-Italic.ttf);
}
body {
    font-family: $font-principal;
    display: flex;
    flex-direction: column;
    min-height: 100Vh;
}
ul {
    list-style-type: none;
}
    
a{ text-decoration: none;}
footer{
    ul { text-decoration: none;
    }
}
