/*COLORES */
$primary: #D98FB1;
$secondary: #874E95;
$text-color: black;

/*Espaciado*/
$large: 6rem; 
$mediun: 2.4rem;
$small: 2rem;
$xsmall: 1rem;

/*Fuentes*/

$font-principal: 'reboto';

/*Tamaños de Fuetes*/
$large: 5.2rem;
$medium:2.2rem;


