/*COLORES */
$primary: #D98FB1;
$secondary: #fac1dc;
$footer-color: #e1bee7;
$text-color: black;
$text-hover: white;

/*Espaciado*/
$large: 6rem; 
$mediun: 2.4rem;
$small: 2rem;
$xsmall: 1rem;

/*Fuentes*/

$font-principal: 'Roboto-italic';

/*Tamaños de Fuetes*/
$large: 5.2rem;
$medium:2.2rem;


