$pink:#D98FB1;
$violet: #e1bee7;
html, body { 
    width: 100%;
    height: 100vh;
}
ul{ list-style: none;
    display: flex;
    &.active {list-style-type: none;
        display: flex;
        padding-left: 30px;}
     }

header {
    background-color: $pink;

}
footer {
    background-color: $violet;
}