header {
    @include flex(row, flex-start, center);
    background-color: $primary;
    font-family: $font-principal;
    width: 100%;
    height: 100%;
    grid-area: miHeader;
    img {
        width: 100px;
        height: 70px;
        margin: $small;
        display: flex;
    }
    h1 {
        width: 100%;
        height: 100%;
        font-size: $small;
        padding: $small 0 $small 0;
        display: flex;
        box-sizing: border-box;
        text-align: center;
    }
    nav {
        @extend header;
        width: 100%;
        height: 100px;
        box-sizing: border-box;

    }
               
        
}